In [1]:
import pandas as pd
import os
import datetime
from glob import glob
from ast import literal_eval
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

In [2]:
PATH = '.'
EXT = '*.csv'
all_BIB_files = [file
                 for path, subdir, files in os.walk(PATH)
                 for file in glob(os.path.join(path, EXT))]
BA_files = 'SS'
all_BA_files = [y for y in all_BIB_files if BA_files in y]
print(all_BA_files)

['.\\SS\\PASt Stephens roof.csv', '.\\SS\\St StephensIndoorHall.csv', '.\\SS\\StStephensBIBoutdoor.csv', '.\\SS\\StStephensIndoorclass.csv', '.\\SS\\TtestTrial.csv']

In [3]:
df= pd.read_csv('SS\\TtestTrial.csv', parse_dates=['Date'], index_col='Date', dayfirst=True)

In [4]:
df

            PM25
Date
2023-01-27     1
2023-01-28     1
2023-01-29     1
2023-01-30     1
2023-01-31     1
2023-02-01     1
2023-02-02     1
2023-02-03     2
2023-02-04     2
2023-02-05     2
2023-02-06     5
2023-02-07     3
2023-02-08     5
2023-02-09     4
2023-02-10     8
2023-02-11     9
2023-02-12    31
2023-02-13    28
2023-02-14    23
2023-02-15    15

In [5]:
a=df.PM25[0:10]
a

Date
2023-01-27    1
2023-01-28    1
2023-01-29    1
2023-01-30    1
2023-01-31    1
2023-02-01    1
2023-02-02    1
2023-02-03    2
2023-02-04    2
2023-02-05    2
Name: PM25, dtype: int64

In [6]:
b=df.PM25[10:]
b

Date
2023-02-06     5
2023-02-07     3
2023-02-08     5
2023-02-09     4
2023-02-10     8
2023-02-11     9
2023-02-12    31
2023-02-13    28
2023-02-14    23
2023-02-15    15
Name: PM25, dtype: int64

In [10]:
from scipy.stats import ttest_ind
res = stats.ttest_ind(a, b)
print(res)

Ttest_indResult(statistic=-3.5311830498210197, pvalue=0.002385639679508831)

In [9]:
from scipy import stats
tes= stats.ttest_rel(a, b)
print(tes)

Ttest_relResult(statistic=-3.6289087288634287, pvalue=0.005494952603104367)

In [11]:
def ttest(a, b):
    t = ttest_ind(a,b)
    return t
df['ttest'] = df.apply(lambda row: ttest(a,b), axis=1)
print(df)

            PM25                                        ttest
Date
2023-01-27     1  (-3.5311830498210197, 0.002385639679508831)
2023-01-28     1  (-3.5311830498210197, 0.002385639679508831)
2023-01-29     1  (-3.5311830498210197, 0.002385639679508831)
2023-01-30     1  (-3.5311830498210197, 0.002385639679508831)
2023-01-31     1  (-3.5311830498210197, 0.002385639679508831)
2023-02-01     1  (-3.5311830498210197, 0.002385639679508831)
2023-02-02     1  (-3.5311830498210197, 0.002385639679508831)
2023-02-03     2  (-3.5311830498210197, 0.002385639679508831)
2023-02-04     2  (-3.5311830498210197, 0.002385639679508831)
2023-02-05     2  (-3.5311830498210197, 0.002385639679508831)
2023-02-06     5  (-3.5311830498210197, 0.002385639679508831)
2023-02-07     3  (-3.5311830498210197, 0.002385639679508831)
2023-02-08     5  (-3.5311830498210197, 0.002385639679508831)
2023-02-09     4  (-3.5311830498210197, 0.002385639679508831)
2023-02-10     8  (-3.5311830498210197, 0.002385639679508831)
2023-02-11     9  (-3.5311830498210197, 0.002385639679508831)
2023-02-12    31  (-3.5311830498210197, 0.002385639679508831)
2023-02-13    28  (-3.5311830498210197, 0.002385639679508831)
2023-02-14    23  (-3.5311830498210197, 0.002385639679508831)
2023-02-15    15  (-3.5311830498210197, 0.002385639679508831)